body{

}
/*<header>
	<img src="https://mikealmonte.files.wordpress.com/2016/01/screen-shot-2016-01-19-at-9-53-34-am.png">
	<h1>Jill's Olive Farm</h1>
	<div class="content">
	<h2>About The Olive Farm</h2>
	<p>Fowke-Bate family-owned business bringing the best out of olives.
	<h2>We want you to feel</p>
	<ol>
		<li>Healthy</li>
		<li>Nourished</li>
		<li>Light</li>
	</ol>
	</header>*/
header{
	text-align: center;
	background-color: #00004C
	padding: 40px;
}

h1{
		color:orange;
		font-size: 60px;
		font-family: helvetica;
		word-spacing: 50px;
}

h2{
		color:blue;
		font-size: 30px;
		font-family: helvetica;
}

header img{
	border-radius: 50px;
}
