html, body{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
header{
	text-align: center;
	text-transform: uppercase;
	background-color: #00004C;
	padding: 40px;
}

h1{
		color:orange;
		font-size: 60px;
		font-family: helvetica;
		word-spacing: 50px;
}

h2{
		color:blue;
		font-size: 30px;
		font-family: helvetica;
}

header img{
	border-radius: 50px;
	width: 900px;
	padding: 10px;
	background-color: black;
	box-shadow: 0 5px 10px black;
}
.content{
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px;
}

img.main-image{
	max-width: 100%;
	padding: 50px;
}

p.caption{
	font-size: 11px;
	font-color:lightgrey
	font-style: italic;
}

ol{
	list-style: none;
}

ul{
	list-style: none;
	pading: 0;
	margin: 0;
}

a{
	color: red:
	text-decoration:none;
}

footer{
	padding: 40px 20px;
	background-color: #E6E6E6;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}