			body{
				background-color: black;

			}
			h1{
				color:orange;
				font-size: 60px;
				font-family: helvetica;
				word-spacing: 50px;
			}

			h2{
				color:blue;
				font-size: 30px;
				font-family: helvetica;
			}
			.small{
				font-size: 12px;
			}
			#first{
				font-size: 150px;
			}
			span{
				font-style: italic;
			}

			h2 span{
				text-decoration: line-through;
			}